<li>
  <p class="title"><span>Customized: </span><a href="#url-to-non-js-view-of-item"><%= pressrelease["header"] %></a></p>

  <div class="details" style="display:none;">
    <p>This i a press release!</p>
  </div>
</li>
